/* App.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app {
    display: flex;
  }
  
  .app-container {
    flex: 1;
    padding: 20px;
  }
  
  nav.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
  }
  
  nav.sidebar ul {
    padding: 0;
    list-style: none;
  }
  
  nav.sidebar li {
    padding: 10px;
  }
  
  nav.sidebar a {
    color: white;
    text-decoration: none;
  }
  
  /* Sample */
  /*sampl IS THE WAY*/ 
   /*sampl IS THE WAY*/ 
    /*sampl IS THE WAY*/ 
     /*sampl IS THE WAY*/ 
      /*sampl IS THE WAY*/ 
       /*sampl IS THE WAY*/ 
       
  